@model IEnumerable<DataDok.Models.Dokument>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Moje_dokumenty</title>
</head>
<body>
    <script>
        function rodzaj(a) {
            if (a == 1) {
                alert("Umowa");
            }
            else if (a == 2) {
                alert("Zlecenie");
            }
            else if (a == 3) {
                alert("Faktura");
            }
            else if (a == 4) {
                alert("Rachunek");
            }
        }
    </script>
    <div>
        <br />
        <table class="table" style="float: left; width: 50%;">
            <tr>
                <th>
                    Rodzaj
                </th>
                <th>
                    Nazwa dokumentu
                </th>
                <th>
                    Data dokumentu
                </th>
                <th>
                    Sciezka
                </th>


            </tr>


            @foreach (var dokument in Model)
            {
                <tr style="height:70px;">
                    <td id="rodzaj" onclick="rodzaj(@dokument.ID_Rodzajow_id)">
                        <a>@dokument.ID_Rodzajow_id</a>

                    </td>
                    <td>
                        @dokument.nazwa_dokumentu
                    </td>
                    <td>
                        @dokument.data_dokumentu
                    </td>
                    <td>
                        <a href="@dokument.sciezka">Link</a>
                    </td>

                </tr>

            }
        </table>
        <table class="table" style="float: right; width: 45%;">
            <tr>
                <th>
                    Status
                </th>
            </tr>
            @foreach (var dok in TempData["status"] as List<string>)
            {
                <tr style="height:70px">
                    <td>
                        @dok
                    </td>
                </tr>


            }
        </table>

        <div style="clear:both"></div>

    </div>
</body>
</html>
